.todo-container {
    max-width: 600px;
    margin: 50px auto;
}

.todo-title {
    font-size: 35px;
    font-weight: 600;
    margin: 35px 0;
    background: linear-gradient(90deg,rgba(253, 29, 29, 1) 0%, rgba(252, 176, 69, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.todo-new {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.todo-data {
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todo-image {
    text-align: center;
    margin-top: 15px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.todo-item {
  display: flex;
  justify-content: space-between;
}